@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

*:not(.game):not(.field):not(img) {
    animation: fadeIn 0.5s ease-in both;
}

body {   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Funnel Sans", sans-serif;
    background-image: url(tic-tac-toe.webp);
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 25vw;
    min-width: 450px;
    background-color: #F5F5F5;
    box-shadow: #9ACBD0 0px 0px 100px 0px;
    overflow-x: hidden;
}

.header {
    display: grid;
    grid-template-rows: 1.5fr 3fr 1.5fr 1fr;
    padding: 2rem 0 0 0;
}

.player-name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player-name {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    transition: background-color 0.2s ease;
}

.player-name-form {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.player-name-given {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    background-color: #F5F5F5;
}

.player-name:hover {
    background-color: #9ACBD0;
    cursor: pointer;
}

input {
    border: none;
    padding: 4px 4px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: none;
}

.confirm-name-button {
    border: none;
    width: 100%;
    background-color: #D4EBF8;
    cursor: pointer;
    padding: 4px 0px;
    transition: background-color 0.2s ease;
}

.confirm-name-button:hover {
    background-color: #9ACBD0;
    transition: background-color 0.2s ease;
}


.player-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: #9ACBD0 0px 0px 24px -6px inset;

}

.player1-info, .player2-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    z-index: 1;
}

.game-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-family: "Funnel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding-top: 1rem;
}

.restart-game, .start-game, .reset-stats {
    background-color: #F5F5F5;
    border: none;
    align-self: center;
    height: 100%;
    padding: 0;
    transition: background-color 0.2s ease;
}

.restart-game:hover, .start-game:hover, .reset-stats:hover {
    background-color: #9ACBD0;
    height: 100%;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.2s ease;
}

.game {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 8px;
    background-color: #9ACBD0;
    padding: 16px;
    background-image:linear-gradient(to bottom, #9ACBD0 0%, #9ACBD0 100%), linear-gradient(to bottom, #F5F5F5 0%, #F5F5F5 100%);
    background-clip: content-box, padding-box;
    aspect-ratio: 1/1;

}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    cursor: pointer;
}

img {
    width: 80%;
    height: 80%;
    filter: invert(13%) sepia(34%) saturate(2454%) hue-rotate(266deg) brightness(104%) contrast(102%);
}

.footer {
    flex-grow: 1;
    position: relative;
}